@import url('https://fonts.googleapis.com/css?family=Mali|Oswald');

body {
    font-family: 'Mali', sans-serif;
}

#name-field {
    border-radius: 30px;
    color: blue;
    font-family: monospace;

}

.important {
    color: red;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.1em;
}

.news-title {
    font-family: 'Oswald';
    font-size: 1.5em;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 16px;
}

.news-regular {
    background-color: blue;
}

.news-breaking {
    background-color: red;
}

.news-content {
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.7em;
}

.thumbnail {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin-right: 20px;
}

li {
    display: inline
}

h1 {
    color: blue;
    text-decoration: underline;
    font-family: monospace;
    font-size: 3em;
}

p {
    font-size: 1.2em;
    border: 1px solid yellowgreen;
}