.slides {
    height: 350px;
    border: 1px solid black;
}

.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}