.priority-high {
    border-left: 5px solid red;
}
.priority-medium {
    border-left: 5px solid blue;
}
.priority-low {
    border-left: 5px solid ghostwhite;
}

.container {
    margin-top: 30px;
}

.red-list {
    color: red;
}

.title-format {
    display: flex;
    direction: row;
    justify-content: space-between;
}

#todo-list {
    margin-top: 50px;
    margin-bottom: 50px;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}

.right-justify {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}